
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body{
    background-color: var(--primary-color);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Poppins', sans-serif;
   
    margin: 0;
}

header{
    background-color: transparent;
    display: flex;
    justify-content:flex-end ;
    padding: 1rem;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    font-family: inherit;
}

/* When Search bar is focused  */
.search:focus{
    /* remove outline */
    outline:0; 
    background-color: var(--primary-color);
}

/* Add color to the search class element placeholder  */
.search::placeholder{
    color: #7378c5;
}

main{
    /* we want everything inside this main eleemnt in row */
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    /* border: 2px solid crimson; */
    width: 300px;
    /* for between the movie gap margin of 1rem  */
    margin: 1rem;
 
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}
.movie-info{
    /* border: 3px solid yellow; */
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.5rem 1rem 1rem; */
    padding: 0px 20px;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    /* padding: 10px 10px; */
    border-radius: 3px;
    font-weight: bold;
}

/* when the class is green font text to be green  */

.movie-info span.green{
    color:lightgreen;
}
.movie-info span.orange{
    color:orange;
}
.movie-info span.red{
    color:red;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 1rem;
    /* max-height height of the card movie so that if the description is more it can take the full height of div which has class movie */
    max-height: 100%;

    /* push it down to 101% so even if the overview tab takes 100% of the viewport height when we push it 101% down it will be below visible area */
    transform: translateY(101%);
    /* slowly coming up  */
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}
